<div [formGroup]="stockForm" *ngIf="!stockCreate">
  <h3>New Stock</h3>

  <label>
    Name:
    <input type="text" formControlName="name" id="name">
  </label>

  <label>
    Description:
    <input type="text" formControlName="description">
  </label>

  <label>
    Start Value:
    <input type="number" formControlName="value">
  </label>
  <button type="button" (click)="createStock()" >Send</button>
</div>
<h4 *ngIf="error" style="color: darkred">{{error}}</h4>
<div *ngIf="stockCreate">
  {{stockCreate | json}}
  <button (click)="stockCreate = undefined">Yeahhhhhhh!</button>
</div>
