//Bootstrap
<div *ngIf="error$ | async as error" style="color: darkred">
  {{error}}
</div>
<div *ngIf="chatClient">
  <h5>Hello {{chatClient.nickname}}</h5>
  <label>
    Message:
    <input type="text" [formControl]="messageFc">
  </label>

  <button (click)="sendMessage()">Send Message</button>
  <h5
    *ngIf="clientsTyping.length > 0"
    style="color: burlywood">
      Clients Typing:
      <span *ngFor="let client of clientsTyping; let i = index">
        {{client.nickname}}
        <span *ngIf="clientsTyping.length - 1 > i">, </span>
      </span>
  </h5>
  <h4 *ngFor="let chatMessage of messages">
    {{chatMessage.sender.nickname}} -- {{chatMessage.message}}
  </h4>
</div>
<div *ngIf="!chatClient">
  <label>
    Enter Nickname:
    <input type="text" [formControl]="nickNameFc">
  </label>

  <button (click)="sendNickName()" class="btn btn-success">Send</button>
</div>

<div *ngIf="clients$ | async as clients">
  <ul>
    <li *ngFor="let client of clients">
      {{client.nickname}}
    </li>
  </ul>
</div>

